.posts {
    grid-area: rg;
    @include lg-min {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    @include lg-md {
        padding-top: 80px;
        padding-bottom: 80px;
    }
    @include md {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    &-container {
        max-width: $ul;
        margin: auto;
        padding-right: $gap;
        padding-left: $gap;
        & h2 {
            margin-top: 0;
            @include lg-min {
                margin-bottom: 56px;
                font-size: 2.5rem;
            }
            @include lg-md {
                margin-bottom: 42px;
                font-size: 2rem;
            }
            @include md-sm {
                margin-bottom: 36px;
                font-size: 1.5rem;
            }
            @include sm {
                margin-bottom: 36px;
                text-align: center;
                font-size: 1.5rem;
            }
        }
    }
}
.container {
    &-block {
        display: grid;
        padding-bottom: $gap;
        gap: $gap;
        @include lg-min {
            grid-template-areas:
                "a1 a1 a2 a3"
                "a4 a5 a6 a6";
            grid-template-columns: repeat(4, 1fr);
        }
        @include lg-md {
            grid-template-areas:
                "a1 a1 a2"
                "a3 a4 a4"
                "a5 a5 a6";
            grid-template-columns: repeat(3, 1fr);
        }
        @include md-sm {
            grid-template-areas:
                "a1 a2"
                "a3 a4"
                "a5 a6";
            grid-template-columns: 1fr 1fr;
        }
        @include sm {
            grid-template-areas:
                "a1"
                "a2"
                "a3"
                "a4"
                "a5"
                "a6";
            grid-template-columns: 1fr;
        }
    }
    &-item {
        transition: background-color 0.5s;
        background-color: #f2f2f2;
        &:hover,
        :focus {
            background-color: #d8d8d8;
            .container-item__img img {
                transform: scale(1.1);
            }
            .container-item__text p,
            h3 {
                color: $color-primary;
            }
        }
        &__link {
            display: grid;
            overflow: hidden;
            height: 100%;
            grid-template-rows: 300px 1fr;
        }
        &__img {
            background-color: $color-primary;
            display: flex;
            overflow: hidden;
            align-content: center;
            justify-content: center;
            img {
                width: 100%;
                object-fit: cover;
                transition: transform 0.5s;
            }
        }
        &__text {
            display: grid;
            align-content: center;
            padding: $gap;
            h3 {
                font-family: $font-header;
                transition: color 0.5s;
                text-align: center;
            }
            p {
                transition: color 0.5s;
                text-align: center;
            }
        }
    }
    @for $a from 1 through 6 {
        &-item:nth-of-type(#{$a}) {
            grid-area: a#{$a};
        }
    }
}
