.skill-item {
    background-color: $color-primary;
    position: relative;
    overflow: hidden;
    &__image {
      height: 100%;
      background-position: 50% 50%;
      background-size: cover;
      background-repeat: no-repeat;
      transition: transform 0.5s;
      @include abs-position;
    }
    &__overlay {
      background-color: $color-primary;
      opacity: 0.8;
      z-index: 1;
      transition: opacity 0.5s;
      @include abs-position;
    }
    &__title {
      z-index: 2;
      margin: 0;
      letter-spacing: 0.1em;

      @include abs-position;
      @include md-min {
        font-size: 1.25rem;
      }
      @include md {
        font-size: 1.125rem;
      }
    }
    &:hover{
      .skill-item__link {
        color: $color-accent;
      }
      .skill-item__image {
        transform: scale(1.1);
      }
      .skill-item__overlay {
        opacity: 0.95 !important;
      }
    }
    &__link {
      padding: $gap;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: color 0.5s;
      @include abs-position;
    }
   
  }
  @for $i from 1 through 9 {
  .skill-item:nth-of-type(#{$i}) {
      grid-area: i#{$i};
    }
  }