.header-caption {
  position: relative;
}
.header-caption__content {
  padding-left: $gap;
  padding-right: $gap;
  max-width: $ul;
  margin: auto;
}

.content-title {
  @include lg-min {
    margin: 0 0 53px 0;
  }
  @include lg-md {
    margin: 0 0 43px 0;
  }
  @include md {
    margin: 0 0 33px 0;
  }
}

.content-actions {
  display: flex;
  justify-content: center;
  @include sm {
    align-items: center;
    flex-direction: column;
    .btn:last-of-type {
      margin-right: 0;
      margin-top: $gap;
    }
  }
  @include sm-min {
    .btn:not(:last-of-type) {
      margin-right: $gap;
    }
  }
}
